<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Deal - The ultimate college marketplace</title>

    <meta name="description"
        content="Campus Deal is an online marketplace for college students to buy and sell goods and services. Find great deals on textbooks, electronics, and dorm room essentials.">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/dark.css">
    <script src="https://kit.fontawesome.com/80908bc01a.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

    <style>
        .card-img {
            height: 134px;
            width: 134px;
        }

        .add-to-cart-btn:hover {
            background-color: orangered;
            cursor: pointer;
        }

        .card-container .card:hover {
            z-index: 100;
            transform: scale(1.1);
        }

        .add-to-cart-btn {
            margin-top: 10px;
        }

        .price-category-container {
            display: flex;
            justify-content: space-around;
        }

        .search-container {
                display: flex;
                flex-wrap: wrap;
            }

        @media (max-width: 767px) {

            .search-container {
                display: flex;
            }
        }
    </style>

</head>

<body>
    <header>
        <!-- logo, navigation menu, and introductory content-->
        <div class="accessiblity_logo_cont">
            <!-- <span></span> -->
            <span id="menu_bar">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </span>
            <div class="logo">Campus Deal</div>
            <span id="accessibility" title="accessibility"><i class="fa fa-universal-access fa-2x"
                    style="float: right;  padding: 10px;" aria-hidden="true"></i>
                <ul class="accessibility_menu">
                    <li><a href="#"><i class="fa fa-moon-o btn" title="dark theme" id="theme-toggle"
                                aria-hidden="true"></i></a></li>
                    <li>
                        <div id="google_translate_element" style="padding: 10px;"></div>
                    </li>
                </ul>
            </span>
        </div>
        <nav class="main_menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/courses">Courses</a></li>
                <li class="active"><a href="/trade">Buy/Sell</a></li>
                <li><a href="/blogs">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li title="your cart" class="cart-icon"><a href="/cart"><i class="fa fa-shopping-cart"
                            aria-hidden="true"></i>
                        <!-- <span class="cart-count">0</span> -->
                    </a></li>
                <li class="navbar-signin"><a href="/register">Sign In / Sign Up</a></li>
            </ul>
        </nav>

    </header>

    <div class="search-container">
        <input type="text" placeholder="Search... " id="search-input">
        <button type="button" id="search-btn">Search</button>
        <button type="button" id="clear-btn" style="margin:10px">Clear Filter</button>
    </div>

    <main>
        <section class="featured_items ">
            <!--  featured products or listings-->

            <h2>Our Products</h2>
            <div class="card-container">
                <% result.forEach(function(item) { %>
                    <div class="card">
                        <img src="<%= item.image %>" alt="Space" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">
                                <%= item.Name %>
                            </h3>
                            <div class="price-category-container">
                                <p class="card-text card-category" style="display: none;">
                                    Category: <%= item.category %>
                                </p>
                                <p class="card-text card-sub-category" style="display: none;">
                                    Sub-Category: <%= item.type %>
                                </p>
                                <p class="card-text">
                                    Price : ₹<%= item.price %>
                                </p>
                            </div>
                            <form action="/add_to_cart" method="post">
                                <input type="hidden" name="id" value="<%= item.id %>">
                                <input type="hidden" name="name" value="<%= item.Name %>">
                                <input type="hidden" name="price" value="<%= item.price %>">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="image" value="<%= item.image %>">
                                <hr color="orange">
                                <input class="btn add-to-cart-btn" type="submit" value="Add to Cart"
                                    onclick="addToCart(this)">

                            </form>

                        </div>
                    </div>
                    <% }) %>

            </div>
        </section>


    </main>


    <footer id="site_footer">
        <!-- copyright information, links to social media profiles, and other information-->

        <div class="logo">Campus Deal</div>
        <div class="main_menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/courses">Courses</a></li>
                <li class="active"><a href="/trade">Buy/Sell</a></li>
                <li><a href="/blogs">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li title="your cart"><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <li class="navbar-signin"><a href="/login">Sign In / Sign Up</a></li>
            </ul>
        </div>

        <hr width: 100% color="orangered" style="margin: 10px 0px 10px 0px;">
        <div class="social-media-container">
            <div class="social-media">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f" style="color: #1877f2;"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter" style="color: rgb(29, 155, 240);"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram" style="color: magenta;"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube" style="color: red;"></i></a></li>
                </ul>
            </div>
            <div class="contact-details">
                <h3>Contact Us</h3>
                <ul>
                    <li><i class="fas fa-phone-alt" style="color: green;"></i> Phone: 123-456-7890</li>
                    <li><i class="fas fa-envelope" style="color: red;"></i> Email: info@Campus Deal.com</li>
                </ul>
            </div>
        </div>
        <hr width: 100% color="orangered" style="margin: 10px 0px 10px 0px;">
        <section class="newsletter">
            <div>
                <h3>Subscribe to our newsletter</h3>
                <form action="#" class="newsletter-form">
                    <input type="email" placeholder="Enter your email...">
                    <button type="submit" class="btn">Subscribe</button>
                </form>
            </div>
        </section>
        <div class="quick-links">
            <div class="quick-links-container">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">FAQ</a>
            </div>
            <p style="text-align: center; margin-top: 20px;">&copy; 2023 Campus Deal. All Rights Reserved.</p>
        </div>

    </footer>

    <script src="./js/index.js"></script>

    <script>

        const menu_bar = document.getElementById('menu_bar');
        function toggleMenu() {
            const main_menu = document.querySelector('.main_menu');
            if (main_menu.style.display === 'block') {
                main_menu.style.display = 'none';
            } else {
                main_menu.style.display = 'block';
            }
        }
        menu_bar.addEventListener('click', toggleMenu);
        function addToCart(button) {
            button.value = "Added";
        }



        document.querySelector('#clear-btn').style.display = 'none';
        window.addEventListener('DOMContentLoaded', function () {
            var cards = document.querySelectorAll('.card');
            var searchBtn = document.querySelector('#search-btn');
            var clearBtn = document.querySelector('#clear-btn');
            var searchInput = document.querySelector('#search-input');

            searchBtn.addEventListener('click', function () {
                var searchTerm = searchInput.value.toLowerCase();

                cards.forEach(function (card) {
                    var cardTitle = card.querySelector('.card-title').textContent.toLowerCase();
                    var card_category = card.querySelector('.card-category').textContent.toLowerCase();
                    var card_sub_category = card.querySelector('.card-sub-category').textContent.toLowerCase();

                    if (cardTitle.indexOf(searchTerm) !== -1 || card_category.indexOf(searchTerm) !== -1 || card_sub_category.indexOf(searchTerm) !== -1) {
                        card.style.display = 'block';
                        clearBtn.style.display = 'none';
                    } else {
                        card.style.display = 'none';
                        clearBtn.style.display = 'block';
                    }
                });
            });
            clearBtn.addEventListener('click', function () {
                cards.forEach(function (card) {
                    card.style.display = 'block';
                    clearBtn.style.display = 'none';

                });
            });
        });


    </script>

    <script src="./js/dark.js"></script>



</body>

</html>
